@media (max-width: 991px) {
    .mbr-header--reduce .mbr-header__text {
      padding-top: 1em;
      margin-top: -1em;
    }
  }
  .mbr-header {
    margin-top: -20px;
    padding: 0;
    position: relative;
    text-align: left;
    top: 10px;
  }
  .mbr-header--std-padding {
    padding-bottom: 41px;
  }
  .mbr-header--center {
    text-align: center;
  }
  .mbr-header__text {
    display: block;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 6px;
    line-height: 1.5em;
    margin: 0;
  }
  .mbr-header__subtext {
    color: #777;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 1px;
    margin: 8px 0 7px 0;
  }
  .mbr-header--inline {
    margin-top: 0;
    padding: 41px 0 28px 0;
    top: 0;
  }
  .mbr-header--inline .mbr-header__text {
    letter-spacing: 4px;
    line-height: 1em;
    margin: 15px 0 0 0;
  }
  @media (max-width: 767px) {
    .mbr-header--inline {
      padding: 47px 0 38px 0;
    }
    .mbr-header--inline .mbr-header__text {
      display: block;
      margin: 0 0 38px 0;
    }
    .mbr-header--auto-align .mbr-header__text,
    .mbr-header--auto-align .mbr-header__subtext {
      left: 0;
      text-align: center !important;
    }
  }
  @media (min-width: 768px) {
    .mbr-header--reduce {
      margin-top: -5px;
      top: 2px;
    }
    .mbr-header--reduce .mbr-header__text {
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 1.1em;
      padding-top: 0.4em;
      margin-top: -0.4em;
    }
  }

  .mbr-box {
    display: table;
    width: 100%;
  }
  .mbr-box--fixed {
    table-layout: fixed;
  }
  .mbr-box--stretched {
    height: 100%;
  }
  .mbr-box__magnet {
    display: table-cell;
    float: none;
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    vertical-align: middle;
  }
  .mbr-box__magnet--sm-padding {
    padding: 41px 0;
  }
  .mbr-box__magnet--top-left,
  .mbr-box__magnet--top-center,
  .mbr-box__magnet--top-right {
    vertical-align: top;
  }
  .mbr-box__magnet--bottom-left,
  .mbr-box__magnet--bottom-center,
  .mbr-box__magnet--bottom-right {
    vertical-align: bottom;
  }
  .mbr-box__magnet--top-left,
  .mbr-box__magnet--center-left,
  .mbr-box__magnet--bottom-left {
    text-align: left;
  }
  .mbr-box__magnet--top-right,
  .mbr-box__magnet--center-right,
  .mbr-box__magnet--bottom-right {
    text-align: right;
  }
  .mbr-box__container {
    height: 50%;
  }
  @media (max-width: 767px) {
    .mbr-box__container {
      height: 100%;
    }
    .mbr-box--adapted {
      display: block;
    }
    .mbr-box--adapted > .mbr-box__magnet {
      display: block;
      height: auto;
    }
  }

  .mbr-article {
    color: #777;
    font-size: 17px;
    line-height: 27px;
    text-align: left;
    position: relative;
    margin-top: -21px;
    top: 14px;
  }
  .mbr-article--wysiwyg h1,
  .mbr-article--wysiwyg h2,
  .mbr-article--wysiwyg h3,
  .mbr-article--wysiwyg h4,
  .mbr-article--wysiwyg h5,
  .mbr-article--wysiwyg h6 {
    color: #252525;
    display: block;
    font-weight: bold;
    line-height: 1.3em;
    text-align: left;
  }
  .mbr-article--wysiwyg h1 {
    font-size: 27px;
    letter-spacing: 3px;
  }
  .mbr-article--wysiwyg h2 {
    font-size: 23px;
    letter-spacing: 2px;
  }
  .mbr-article--wysiwyg h3 {
    font-size: 19px;
    letter-spacing: 1px;
  }
  .mbr-article--wysiwyg h4 {
    font-size: 14px;
  }
  .mbr-article--wysiwyg h5 {
    font-size: 11px;
  }
  .mbr-article--wysiwyg h6 {
    font-size: 10px;
  }
  .mbr-article--wysiwyg p,
  .mbr-article--wysiwyg ul,
  .mbr-article--wysiwyg ol,
  .mbr-article--wysiwyg blockquote {
    margin: 0 0 10px 0;
  }
  .mbr-article--wysiwyg blockquote {
    font-size: 17px;
    border-color: #f97352;
  }
  @media (max-width: 767px) {
    .mbr-article--auto-align.mbr-article--wysiwyg p,
    .mbr-article--auto-align {
      text-align: left !important;
    }
  }

  .mbr-figure {
    display: inline-block;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    position: relative;
  }
  .mbr-figure--no-bg {
    background: none;
  }
  .mbr-figure--full-width {
    display: block;
    width: 100%;
  }
  .mbr-figure.mbr-after-navbar:before {
    display: none;
  }
  .mbr-figure--full-width iframe,
  .mbr-figure--full-width .mbr-figure__img,
  .mbr-figure--full-width .mbr-figure__map {
    width: 100%;
  }
  .mbr-figure iframe,
  .mbr-figure__img,
  .mbr-figure__map {
    max-width: 100%;
  }
  @-webkit-keyframes mapCircleLoading {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
    }
  }
  @keyframes mapCircleLoading {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  .mbr-figure__map {
    height: 400px;
    position: relative;
  }
  .mbr-figure__map--short {
    height: 300px;
  }
  .mbr-figure__map iframe {
    height: 100%;
    width: 100%;
  }
  .mbr-figure__map [data-state-details] {
    color: #6b6763;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    height: 1.5em;
    margin-top: -0.75em;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }
  .mbr-figure__map[data-state] {
    background: #e9e5dc;
  }
  .mbr-figure__map[data-state="loading"] [data-state-details] {
    display: none;
  }
  .mbr-figure__map[data-state="loading"]::after {
    content: "";
    -webkit-animation: mapCircleLoading .6s infinite linear;
    animation: mapCircleLoading .6s infinite linear;
    border-radius: 50%;
    border: 6px rgba(255, 255, 255, 0.35) solid;
    border-top-color: #fff;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 40px;
  }
  .mbr-figure__caption {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    display: block;
    font-size: 17px;
    left: 0;
    line-height: 1.3em;
    min-height: 53px;
    padding: 17px 20px;
    position: absolute;
    text-align: left;
    width: 100%;
  }
  .mbr-figure__caption--no-padding {
    padding: 17px 0;
  }
  .mbr-figure--wysiwyg .mbr-figure__caption a,
  .mbr-figure--wysiwyg .mbr-figure__caption a:hover {
    color: inherit;
    text-decoration: underline;
  }
  .mbr-figure--caption-inside-top .mbr-figure__caption {
    bottom: auto;
    top: 0;
  }
  .mbr-figure--caption-outside-top .mbr-figure__caption,
  .mbr-figure--caption-outside-bottom .mbr-figure__caption {
    background: none;
    position: relative;
  }
  .mbr-figure--no-bg.mbr-figure--caption-outside-top .mbr-figure__caption,
  .mbr-figure--no-bg.mbr-figure--caption-outside-bottom .mbr-figure__caption {
    color: #252525;
  }
  .mbr-figure--no-bg.mbr-figure--caption-outside-top .mbr-figure__caption {
    margin-top: -3px;
    padding-top: 0;
  }
  .mbr-figure--no-bg.mbr-figure--caption-outside-bottom .mbr-figure__caption {
    margin-top: -2px;
    padding-bottom: 0;
    top: 2px;
  }
  .mbr-figure__caption--std-grid {
    background: none;
    z-index: 2;
    overflow: hidden;
  }
  .mbr-figure__caption--std-grid:before {
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    width: 200%;
    z-index: -1;
    margin-left: -50%;
  }
  .mbr-figure--caption-inside-top .mbr-figure__caption--std-grid:before,
  .mbr-figure--caption-inside-bottom .mbr-figure__caption--std-grid:before {
    background: rgba(0, 0, 0, 0.6);
  }
  .mbr-figure__caption-small {
    color: #ccc;
    display: block;
    font-size: 14px;
    line-height: 1.3em;
  }
  .mbr-figure--no-bg.mbr-figure--caption-outside-top .mbr-figure__caption-small,
  .mbr-figure--no-bg.mbr-figure--caption-outside-bottom .mbr-figure__caption-small {
    color: #777;
  }
  @media (max-width: 767px) {
    .mbr-figure--adapted {
      display: block;
      width: 100%;
    }
    .mbr-figure--adapted iframe,
    .mbr-figure--adapted .mbr-figure__img,
    .mbr-figure--adapted .mbr-figure__map {
      width: 100%;
    }
    .mbr-figure--caption-inside-top .mbr-figure__caption,
    .mbr-figure--caption-inside-bottom .mbr-figure__caption {
      background: none;
      position: relative;
    }
    .mbr-figure--caption-inside-top .mbr-figure__caption--std-grid:before,
    .mbr-figure--caption-inside-bottom .mbr-figure__caption--std-grid:before {
      display: none;
    }
  }